* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-group {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: transparent;
  border-radius: 8px;
}

.header-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image img {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  object-fit: contain;
}

.logo-text {
  font-size: 36px;
  color: #ffc800;
  font-weight: bold;
}

.header-nav {
  padding: 20px;
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.header-nav a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s, font-weight 0.3s;
}

.header-nav a:hover {
  color: #ffc800;
  font-weight: bold;
}

.header-nav a.active {
  color: #ffc800;
  font-weight: bold;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffc800;
  position: absolute;
  right: 20px;
  top: 30px;
  margin: 10px;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.popup-menu {
  background: rgba(51, 51, 51, 0.8);
  color: #ffc800;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  text-align: left;
}

.popup-menu h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.popup-menu a {
  display: block;
  margin: 24px 0;
  color: #ffc800;
  text-decoration: none;
}

.popup-menu a:hover {
  font-weight: bold;
}

.popup-close {
  float: right;
  cursor: pointer;
}

.center-text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.center-title {
  font-size: 36px;
  font-weight: bold;
}

.center-subtitle {
  font-size: 16px;
  color: #65758b;
  margin-top: 10px;
}

.sql-demo-group,
.notion-demo-group,
.excel-demo-group {
  display: none;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.sql-input-group,
.sql-output-group,
.notion-input-group,
.notion-output-group,
.excel-input-group,
.excel-output-group {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: transparent;
}

.sql-input-header-group,
.sql-output-header-group,
.notion-input-header-group,
.notion-output-header-group,
.excel-input-header-group,
.excel-output-header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sql-input-title,
.sql-output-title,
.notion-input-title,
.notion-output-title,
.excel-input-title,
.excel-output-title {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sql-edit-button,
.sql-preview-button,
.sql-copy-button,
.notion-edit-button,
.notion-preview-button,
.notion-copy-button,
.excel-edit-button,
.excel-preview-button,
.excel-copy-button {
  width: 60px;
  height: 25px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
}

.sql-edit-button:hover,
.sql-copy-button:hover,
.notion-edit-button:hover,
.notion-copy-button:hover,
.excel-edit-button:hover,
.excel-copy-button:hover {
  background-color: #e0e0e0;
}

.sql-input-field,
.notion-input-field,
.excel-input-field {
  width: 100%;
  min-height: 40px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  resize: none;
  line-height: 1.5;
  overflow: hidden;
}

.sql-button-group,
.notion-button-group,
.excel-button-group {
  display: flex;
  gap: 30px;
}

.sql-preview-button,
.notion-preview-button,
.excel-preview-button {
  background-color: #ffc800;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.sql-preview-button:hover,
.notion-preview-button:hover,
.excel-preview-button:hover {
  transform: scale(1.05);
}

#sql-formula-output,
#notion-formula-output,
#excel-formula-output {
  background-color: #f1f5f9;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

@media (max-width: 768px) {
  .header-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-nav {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
